/* Brand colors */
$brand-cyan: #00A9F4;
$deep-blue: #051C2C;
$electric-blue: #2251ff;

/* Functional colors */
$pale-blue: #AAE6F0;
$super-pale-blue: #E4F5FF;

/* System colors */
$green: #71B800;
$orange: #FA6400;
$color-red: #E12E40;
$yellow: #F7B502;
$purple: #8c5ac8;

/* Neutral colors */
$dark-gray: #4D4D4D;
$mid-gray: #757575;
$gray: #ABABAB;
$light-gray: #B3B3B3;
$super-light-gray: #D0D0D0;
$pale-gray: #E6E6E6;
$super-pale-gray: #F0F0F0;
$white: #FFFFFF;
$black: #000000;
